body {
    background-color: #eaf6f6;
}

hr {
    border-color: lightslategray;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    border-width: 5px;
}

h1, h3 {
    color: #66bfbf;
    font-family: sans-serif;
}

img {
    height: 140px;
}